body {
	background-color: #000;
	color: #FFF;
	font-family: 'Roboto Slab', serif;
}
a {
	color: #FFF;
}
.divest-site {
	padding: 2em;
}
.home-mission {
	padding-top: 40px;
}
.large-text h1{ 
	padding-top: 10px;
	font-size: 7em;
}
.yes-selection,
.no-selection {
	margin-top: 20px;
}
.yes-selection {
	padding: 40px;
	font-size: 3em;
	text-transform: uppercase;
}
.no-selection {
	padding: 40px;
	font-size: 3em;
	text-transform: uppercase;
}
.bank-list {
}
.reasons-list {

}
.reasons-graphic {

}