body {
	background-color: #000;
	color: #FFF;
	font-family: 'Roboto Slab', serif;
}
a{
	color: #FFF;
}
.divest-site {
	padding: 2em;
}
.home-mission {
	padding-top: 40px;
}
.home-bottom-text {
	padding-top: 1.5em;
	margin: 0 auto;
	line-height: 2em;
	width: 75%;
	font-size: .8em;
}
#get-started h2 {
	font-size: 7em;
}
#get-started a:hover {
	color: #77AF9C;
	text-decoration: none;
}
.large-text h1{ 
	padding-top: 10px;
	font-size: 7em;
}
#yes-selection a:hover {
	color: #2FBF71; /* green */
	text-decoration: none;
}
#no-selection a:hover {
	color: #EF2D56; /* redd */
	text-decoration: none;
} 
#yes-selection,
#no-selection {
	padding: 40px;
	font-size: 3em;
	margin-top: 20px;
}
#yes-selection {
	margin: 2% 0% 0% 48%;
}
#no-selection {
	margin: 2% 48% 0% 0%;
}
select {
	font-size: 2em;
	padding: .2em .5em .2em .5em;
	background-color: #000;
	color: #FFF;
	   -webkit-appearance: none;
	   -moz-appearance: none;
	   appearance: none;
}
.bank-list {
	margin-top: 2em;
}
#bank-selection {
	margin-top:1em;
	font-size: 2em;
	padding: .2em .5em .2em .5em;
}
.reasons-list {

}
.reasons-graphic {

}